//
// main
//


.article-index {
	margin-top: 3em;
}


//
// articles
//

.article {
	clear: both;
	padding-bottom: 3em;
	margin-bottom: 3em;
	border-bottom: 1px solid $gamma-ui-color;


	.left {
		width: 35%;
		float: left;

		.article-image {
			height: 250px;
			overflow: hidden;
		}


		img {
			min-height: 250px;
		}

	}

	.right {
		width: 60%;
		float: right;

		h2 {
			padding-top: 0;
			margin-top: -0.3em;
			padding-bottom: 0;
		}

		p {
			float: left;
		}

	}

	.readmore {
		padding-top: 0; 
		float: left;
	}

}

.date {
		font-size: 0.9em;
		color: $gamma-ui-color;
		margin-top: -0.5em;
	}

.date-detail {
		font-size: 0.9em;
		color: $gamma-ui-color;
}



article:last-child {
	border: 0;
	padding-bottom: 0em;
}


//
// news
//

.index-news {
	margin-top: 2em;
}

.nieuws-meer {

	margin-top: -1em;
	margin-bottom: 1em;

	text-align: center;

	a, a:hover, a:active, a:visited {
		text-decoration: none;
		@include px-padding-lr(2,2);
		background-color: lighten($alpha-ui-color,5);
		color: $beta-text-color;
		border-radius: $radius;
		@include padding-tb(0.5,0.5);
	}
}


//
// Detail news
//

.content {
		margin-top: 2em;
		margin-bottom: 2em;

	 p {
	 	font-family: $beta-font-family;
	 	font-size: 1.3em;
	 	line-height: 1.8em;
	 }

	 img {
	 	//width: 100%;
	 	//max-height: 600px;
	 	margin-left: auto;
	 	margin-right: auto;
	 	display: block;
	 	@include margin-tb(1,1);
	 	width: 70%;
	 	max-width: none;
	 }

	 footer {
	 	border-top: 1px solid $gamma-ui-color;
	 	border-bottom: 1px solid $gamma-ui-color;
	 	margin-top: 2em;
	 	@include padding-tb(1,1);
	 	font-weight: bold;
	 }
}





//
// Jobs
//
.solliciteer {
	// margin-left: auto;
	// margin-right: auto;
	text-align: center;
	margin-top: 1.5em;
	width: 100%;
	font-weight: $beta-font-weight;

	a {
		background-color: lighten($alpha-ui-color,5);
		border-radius: $radius;		
		@include padding-tb(0.5,0.5);
		@include px-padding-lr(2,2);
		color: $beta-text-color;
		width: 100%;
		display: block;
	}

	a:hover, a:active {
		background-color: lighten($alpha-ui-color,3);
		text-decoration: none;
	}
}











