
//
// immo
//

.immo {

	margin-top: 0;


	.images {

		@include mq($bp3) {
			height: 350px;
		}

		position: relative;
		width: 100%;
		overflow: hidden;
		margin-top: 1.5em;

		img {
			width: 100%;
		}
	}


	.immo-intro {
		margin-top: 1em;
	}



	.immo-btn {
		margin-top: -3em;
		@include mq($bp3) {
			bottom: 0;
			margin-top: 0;
		}
		position: absolute;
		
		right: 0;
		a {
			@include background-opacity($alpha-ui-color, 0.85);
			@include padding-tb(0.5,0.5);
			@include px-padding-lr(2,2);
			color: $beta-text-color;
			width: 170px;
			display: block;
		}

		a:hover, a:active, a:visited {
			background-color: lighten($alpha-ui-color,3);
			text-decoration: none;
		}
	}

}


//
// navigation
//

.immo-nav {
	float: left;
	width: 100%;

	ul {
		@extend %clearfix;
		font-family: $alpha-font-family;
		@include list-nav;
		// @include text-dimensions($alpha-font-size,1,1);
	}
	
	a {
		@include px-padding-lr(2,2);
		@include padding-tb(0.3,0.3);
		color: $beta-text-color;
		text-decoration: none;
		//font-weight: $beta-font-weight;
		float: left;
	}

	.selected a {
		background-color: lighten($alpha-ui-color,10);
	}
}


.immo-bluebox {
	background-color: $alpha-ui-color;
}



//
// Detail
//


#immo-slide-holder {
	width: 100%;

	#immo-slide-runner {
		width: 100%;

		img {
			width: 100%;
		}
	}

}



