// Navigation

.main-nav {
	float: left;
	width: 100%;

	ul {
		@extend %clearfix;
		font-family: $alpha-font-family;
		@include list-nav;
		@include text-dimensions($alpha-font-size,1,1);
	}

	a {
		color: $alpha-ui-color;
		text-decoration: none;
		font-weight: $beta-font-weight;
	}

	a:hover {
		color: lighten($alpha-ui-color,10);
	}
}

.mobile-nav .main-nav {
	display: none;
}

.main-nav,
.mobile-nav .main-nav {
	@include mq($bp3) {
		display: block !important;
		width: 100%;
		float: left;
		font-size: 1.05em;

		ul {
			float: left;
			@include horizontal-nav();
			@include text-dimensions(14,1,0);
		}

		li {
			// @include px-margin-lr(1,0);
			@include padding-tb(0.4, 0.4);
			margin-right: 2em;
		}

		.main-nav-extra {
			float: right;
			li {
				margin-right: 0em !important;
			}
		}

	}

}

.main-nav-trigger {
	//dihttp://vrdfork:8888/nlsplay: block;
	float: right;
	width: 2.1em;
	height: 2.1em;
	text-indent: -9999px;
	@include text-dimensions($alpha-font-size,1,1);
	@include svg-bg("../img/icon-menu", ".png", $alpha-text-color, 50%, no-repeat);

	@include mq($bp3) {
		display: none;
	}
}

.svg .trigger-active,
.trigger-active {
	background-color: $alpha-link-color;
}



// language Navigation

.lan-nav {
	float: right;

	ul {
		margin-top: 35px;
		float: right;
		@include horizontal-nav();
		@include text-dimensions(14,1,0);
	}

	a {
		color: $beta-text-color;
		text-decoration: none;
		font-weight: $beta-font-weight;
		font-size: 0.8em;
		
		background-color: $alpha-ui-color;
		margin-left: 0.8em;
		@include padding-tb(0.04,0.04);
		padding-left: 0.35em;
		padding-right: 0.35em;
		border-radius: 3px;
		border: 1px solid $alpha-ui-color;
	}


	.selected a{
		color: $alpha-ui-color;
		background-color: $beta-text-color;
	}

}


// Image navigation index


#selector {

	.selector-picture {
		width: 24.9%;
		float: left;
		margin-right: 0.13%;
		overflow: hidden;
		height: 350px;

		.selector-img {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			@include background-opacity($alpha-link-color, 0.85);
			position: absolute;
			width: 24.9%;
			height: 50px;
			margin-top: 300px;
			text-align: center;
			padding-top: 10px;
			color: $bg;
			font-size: 1.1em;
			font-weight: 600;
		}
	}

	.selector-picture-right {
		width: 24.9%;
		float: right;
		overflow: hidden;
		height: 350px;

		.selector-img {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			@include background-opacity($alpha-link-color, 0.85);
			position: absolute;
			width: 24.9%;
			height: 50px;
			margin-top: 300px;
			text-align: center;
			padding-top: 10px;
			color: $bg;
			font-size: 1.2em;
			font-weight: 600;
		}
	}

}


// Navigation index

#selector2 {
	position: absolute;
	top: 0;
	width: 100%;

	ul {
		padding: 0;
		float: left;
		width: 100%;
	}

	li {
		@include background-opacity($alpha-ui-color, 0.85);
		text-align: center;
		float: left;
		list-style-type: none;
		margin-right: 0.17em;
		width: 24.8%;
	}

	li:nth-child(4) {
   		margin-right: 0em;
   		float: right;
	}

	a, a:hover, a:active, a:visited {
		color: $beta-text-color;
		text-decoration: none;
		width: 100%;
		display: block;
	}

	.selected {
		// @include background-opacity(lighten($alpha-ui-color,8), 0.85);
	}
}




