article {
	clear: both;
	padding-bottom: 3em;
	margin-bottom: 3em;
	border-bottom: 1px solid $gamma-ui-color;


	.left {
		width: 40%;
		height: 250px;
		overflow: hidden;
		float: left;

	}

	.right {
		width: 57%;
		float: right;

		h2 {
			padding-top: 0;
			margin-top: -0.3em;
			padding-bottom: 0;
		}
	}

	.date {
		font-size: 0.9em;
		color: $gamma-ui-color;
		margin-top: -0.5em;
	}

	.readmore {
		padding-top: 0; 
	}

}

article:last-child {
	border: 0;
	padding-bottom: 1em;
}